
<app-product></app-product>

<input type="text" [(ngModel)]="title">
{{ title }}

<div *ngIf="title === 'simon'">
  este es un div
</div>

<div *ngIf="title === 'platzi-store'">
  este es la tienda de platzi
</div>

<div *ngIf="title === 'juan'">
  este es juan
</div>

<div [ngSwitch]="title">
  <p *ngSwitchCase="'juan'">este es juan</p>
  <p *ngSwitchCase="'simon'">este es simon</p>
  <p *ngSwitchCase="'camilo'">este es pedro</p>
  <p *ngSwitchDefault>no hay match</p>
</div>

<button (click)="addItems()">add item</button>

<ul>
  <p *ngIf="names.length === 0">lista vacia</p>
  <li *ngFor="let name of names; index as i">
    {{ name }} {{ i }} <button (click)="removeItem(i)">remove</button>
  </li>
</ul>

<div *ngFor="let product of products">
  {{ product.id }}
  {{ product.title }}
  <img [src]="product.image" alt="">
  {{ product.precio }}
</div>
